#rev-percents, #exp-percents{
  font-size: 13px;
  font-weight: bold;
}

.percent-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.percent-container {
  display: flex;
  flex-direction: column;
}

.percent-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.percent-color-label {
  display: flex;
  align-items: center;
  width: 175px;
  height: 50px;
}

.percent-text {
  margin-left: 10px;
}

.user-input {
  background-color: #2E2E2E;
  color: #7F8187;
  width: 40px;
  border:none;
  border-bottom: 2px solid white;
  text-align: center;
  outline: none;
}

.percent-total {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.total-text {
  margin-right: 10px;
  font-weight: bold;
}


