#rev-pie-chart {
    display: block;
    margin: auto;
}

#actual-rev-pie-chart {
    display: block;
    margin: auto;
}

#exp-pie-chart {
    display: block;
    margin: auto;
}

#actual-exp-pie-chart {
    display: block;
    margin: auto;
}